body {
    font-family: Arial, sans-serif;
    background-color: #5c4343;
}

.container {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background: rgb(215, 208, 208);
    border-radius: 8px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#results {
    margin-top: 15px;
    font-weight: bold;
}
